header
 {

    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 20px;
    font-size: 20px;
    

    }

h1
{

    text-align: center;
    color: green;
}

ul 
{
    float: right;
    list-style: none;
}

li
{
    display: inline;
    margin-right: 5em;
    font-size: 20px;
}

li:hover 

{
    background-color: red;
}

a 
{

    text-decoration: none;
    color: green;
}

ul li ul 
{
    display: none;
    position: absolute;
    max-width: 140px;
    
}

li:hover > ul
{
    display: block;

}
 


#box-container 
{
    text-align: center;
    height: 1200px;
    display: flex;
    background-color: yellow;
   
    
    
}

#box-1 {

    background-color: coral;
    width: 15%;
    height: 50%;
    font-size: 40px;
    border: black 5px solid;
    margin-right: 1em;
    margin-top: 600px;
    margin-left: 500px;

    
    
      }

#box-2 {

    background-color: coral;
    width: 15%;
    height: 50%;
    font-size: 40px;
    border: black 5px solid;
    margin-right: 1em;
    margin-top: 600px;
    
    
}

#box-3 {

    background-color: coral;
    width: 15%;
    height: 50%;
    font-size: 40px;
    border: black 5px solid;
    margin-right: 1em;
    margin-top: 600px;
    
    

}
.Boton {

    margin-top: 200px;
    background-color:fuchsia;
    border: blueviolet 1px solid;
}
.button {
    margin-top: 200px;
    background-color:fuchsia;
    
}
